### `Joins`

- inner        --> `inner`  
- left outer   --> `left , leftouter , left_outer`
- right outer  --> `right , rightouter , right_outer`
- full outer   --> `full, fullouter , full_outer`
- left anti    --> `anti , leftanti , left_anti`
- left semi    --> `semi , leftsemi , left_semi`

In [0]:
data1 = [
  (111,"Raj Kumar",1999,100,"M",15000),
  (121,"Rajesh Kumar",2000,100,"M",20000),
  (131,"Priya Kumari",1999,200,"F",25000),
  (141,"Priyanka Nadendla",2001,200,"F",30000),
  (151,"Anand Inolu",2000,400,"M",35000),
  (161,"Anil Kumar",1998,700,"M",40000),
]
schema1 = ["emoloyee_id","name","dob","dept_id","gender","salary"]
df1 = spark.createDataFrame(data = data1,schema = schema1)

In [0]:
display(df1)

emoloyee_id,name,dob,dept_id,gender,salary
111,Raj Kumar,1999,100,M,15000
121,Rajesh Kumar,2000,100,M,20000
131,Priya Kumari,1999,200,F,25000
141,Priyanka Nadendla,2001,200,F,30000
151,Anand Inolu,2000,400,M,35000
161,Anil Kumar,1998,700,M,40000

In [0]:
data2 = [
    (100,"Sales"),
    (200,"Marketing"),
    (300,"Finance"),
    (400,"HR"),
    (500,"IT")
]

schema2 = ["dept_id","dept_name"]
df2 = spark.createDataFrame(data = data2,schema = schema2)

In [0]:
display(df2)

dept_id,dept_name
100,Sales
200,Marketing
300,Finance
400,HR
500,IT

Inner Join

In [0]:
df1.join(df2,df1.dept_id==df2.dept_id).display()
#df1.join(df2,df1.dept_id==df2.dept_id, 'inner').display()

emoloyee_id,name,dob,dept_id,gender,salary,dept_id,dept_name
111,Raj Kumar,1999,100,M,15000,100,Sales
121,Rajesh Kumar,2000,100,M,20000,100,Sales
131,Priya Kumari,1999,200,F,25000,200,Marketing
141,Priyanka Nadendla,2001,200,F,30000,200,Marketing
151,Anand Inolu,2000,400,M,35000,400,HR

In [0]:
df1.join(df2, df1.dept_id == df2.dept_id, 'left').display()
#df1.join(df2, df1.dept_id == df2.dept_id, 'leftouter').display()
#df1.join(df2, df1.dept_id == df2.dept_id, 'left_outer').display()

emoloyee_id,name,dob,dept_id,gender,salary,dept_id,dept_name
111,Raj Kumar,1999,100,M,15000,100,Sales
121,Rajesh Kumar,2000,100,M,20000,100,Sales
131,Priya Kumari,1999,200,F,25000,200,Marketing
161,Anil Kumar,1998,700,M,40000,null,null
141,Priyanka Nadendla,2001,200,F,30000,200,Marketing
151,Anand Inolu,2000,400,M,35000,400,HR

In [0]:
df1.join(df2, df1.dept_id == df2.dept_id, 'right').display()
#df1.join(df2, df1.dept_id == df2.dept_id, 'rightouter').display()
#df1.join(df2, df1.dept_id == df2.dept_id, 'right_outer').display()

emoloyee_id,name,dob,dept_id,gender,salary,dept_id,dept_name
121,Rajesh Kumar,2000,100,M,20000,100,Sales
111,Raj Kumar,1999,100,M,15000,100,Sales
141,Priyanka Nadendla,2001,200,F,30000,200,Marketing
131,Priya Kumari,1999,200,F,25000,200,Marketing
null,null,null,null,null,null,500,IT
151,Anand Inolu,2000,400,M,35000,400,HR
null,null,null,null,null,null,300,Finance

In [0]:
df1.join(df2, df1.dept_id == df2.dept_id, 'anti').display()

emoloyee_id,name,dob,dept_id,gender,salary
161,Anil Kumar,1998,700,M,40000

In [0]:
df1.join(df2, df1.dept_id ==  df2.dept_id, 'semi').display()

emoloyee_id,name,dob,dept_id,gender,salary
111,Raj Kumar,1999,100,M,15000
121,Rajesh Kumar,2000,100,M,20000
131,Priya Kumari,1999,200,F,25000
141,Priyanka Nadendla,2001,200,F,30000
151,Anand Inolu,2000,400,M,35000